<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<%- include('../partials/nav') %>
<main>
<h1> blogs Edit View of : <% title %> </h1>

</main>

<%- include('../partials/footer') %>