<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<%- include('../partials/nav') %>

<main>


<h1><%= title %></h1>
  <form id="new-form" action="/blogs" method="POST">
    <label for="title-input">Title:</label>
    <input type="text" name="title" id="title-input">
    <br><br>
    <label for="release-year-input">Content:</label>
    <input type="text" name="content" id="content-input">
    <br><br>
    <button class="button-23" role="button" type="submit">Submit</button>
  </form>
  
</main>
<%- include('../partials/footer') %>
