</body>
<footer>
    <button><i id="footer-buttons" class="fa-solid fa-user fa-5x"></i></button>
    <button><i id="footer-buttons"class="fa-solid fa-house fa-5x"></i></button>
    <button href="/blogs/new"><i id="footer-buttons"class="fa-regular fa-plus fa-5x"></i></button>
</footer>
</html>
