</body>
<footer>
    <form action="/profiles">
        <button type="submit" id="Direct"><i id="footer-buttons" class="fa-solid fa-user fa-5x"></i></button>
    </form>
    <form action="/blogs">
        <button type="submit" id="Direct"><i id="footer-buttons" class="fa-solid fa-house fa-5x"></i></button>
    </form>


    <form action="/blogs/new">
        <button type="submit" id="Direct"><i id="footer-buttons" class="fa-regular fa-plus fa-5x"></i></button>
    </form>
</footer>

</html>