<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/x-icon" href="https://i.pinimg.com/originals/88/9d/f3/889df38a872dbdb4e24c8f1275556f15.png">
    <script src="https://kit.fontawesome.com/66a78b58b8.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= title %></title>
