<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <%- include('../partials/nav') %>
    <main>
      <% if(blogs.length > 0){ %>
      <h1>Showing <%= blogs[0].author.name %>'s Profile</h1>
      



      <% } %>
      


    </main>
    <%- include('../partials/footer') %>