html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #1a1a1a;
  color: #f6f6f6;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}
#landings{

}
footer > div {
  display: flex;
  justify-content: space-between;
  padding: 0px 24px;
}
nav {
  background-color: #924b4b;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0px 24px;
  border-color: red;
  min-height: 60px;
}
nav button {
  display: flex;
  background-color: white;
  border-radius: 8px;
  padding: 10px 16px;
  color: #000000;
  font-weight: 500;
}
nav > div {
  display: flex;
  height: 80px;
  align-items: center;
  cursor: text;
}
nav >div:first-child {
  display: flex;
  align-self: center;
  gap: 32px;
}
nav >div:last-child {
  display: flex;
  gap: 16px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  margin-left: auto;
}
footer{
  background-color: #924b4b;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 10px;
  border-color: red;
  min-height: 100vh;
}
/* nav > section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 10px;

} */